body {

  background-image: url('bg/cherry tree.png');
  background-size: 1800px 1000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



/* The sidebar menu */

.sidebar {

  height: 100%; /* 100% Full-height */

  width: 0; /* 0 width - change this with JavaScript */

  position: fixed; /* Stay in place */

  z-index: 1; /* Stay on top */

  top: 0;

  left: 0;

  background-color: #111; /* Black*/

  overflow-x: hidden; /* Disable horizontal scroll */

  padding-top: 60px; /* Place content 60px from the top */

  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

  color: white;

}



/* The sidebar links */

.sidebar a {

  padding: 8px 8px 8px 32px;

  text-decoration: none;

  font-size: 25px;

  color: #818181;

  display: block;

  transition: 0.3s;

}



/* When you mouse over the navigation links, change their color */

.sidebar a:hover {

  color: #f1f1f1;

}



/* Position and style the close button (top right corner) */

.sidebar .closebtn {

  position: absolute;

  top: 0;

  right: 25px;

  font-size: 36px;

  margin-left: 50px;

}



/* The button used to open the sidebar */

.openbtn {

  font-size: 20px;

  cursor: pointer;

  background-color: #111;

  color: white;

  padding: 13px 15px;

  border: none;

}



.openbtn:hover {

  background-color: #444;

}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#Content {

  transition: margin-left .5s; /* If you want a transition effect */

  padding: 20px;
  
  background: rgba(176, 110, 196, 0.3);

}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {

  .sidebar {padding-top: 15px;}

  .sidebar a {font-size: 18px;}

}



ul.topnav {

  list-style-type: none;

  margin: 0;

  padding: 0;

  overflow: hidden;

  background-color: #000000;

  display: inline-block;

}



ul.topnav li {float: left;}



ul.topnav li a {

  font-size: 18px;

  display: block;

  color: white;

  text-align: center;

  padding: 5px 14px;

  text-decoration: none;

}



ul.topnav li a:hover:not(.active) {background-color: #000000;}



ul.topnav li a.active {background-color: #000000;}



ul.topnav li.right {float: right;}



@media screen and (max-width: 600px) {

  ul.topnav li.right, 

  ul.topnav li {float: none;}

}



/* Add a gray right border to all list items, except the last item (last-child) */

li {

  border-right: 1px solid #bbb;

}



li:last-child {

  border-right: none;

}



button{

    display: inline-block;

}

.icon{
  width: 35px;
  height: 35px;
}

.table {
    border: 0px;
}


